*{
	margin: 0px;
	font-family: Times ,serif;}
.float-box {
    float: left;
    background-color:aquamarine;
    height: 100px;
    width: 200px;
    margin: 25px;
	margin-bottom: 15px;
}

.clear-property-box {
    clear: left;
    background-color: bisque;
	margin-left: 10px;
	margin-right: 10px;
}