.container {
    display: grid;
    grid-template-columns: 1fr 650px 1fr;
	grid-template-rows: auto auto;
    justify-content: center;
	font-family: Times, serif;
	color: white;	
}

.content {
	height: fit-content;
    grid-column: 2;
	margin: 10px;
}
.c1{background-color: green;
	margin-left: 12%;
	margin-right: 12%}
.c2{
	padding: 20px;
	background-color: blue;
	border: 40px solid blue;
	}